In [6]:
num= 50
if num>100:
    print("hi")
    
elif num>30:
    print("hello")
    
elif num>10:
    print("bye")

else:
    print("python")

hello

In [7]:
age= 30
grade= 'C'
if age>=20:
    if grade== 'A':
        print("admission done")
    else:
        print("no")
else:
    print("not at all")

no

In [12]:
a= 
print(id(a))
print(a)

2964665240192
(nmdb8954784nsjdn93485

In [3]:
age= 50
if age>=18:
    print("eligible")
    age+=2
    print(age)
else:
    print("not eligible")

print("bye")

eligible
52
bye

In [14]:
a= '''Ram sharma
    jksdhfn 
    jsndcjks'''

In [15]:
type(a)

str

In [16]:
a= '|'
print(type(a))

<class 'str'>

In [18]:
a= "Ram sharma"
len(a)

10

In [19]:
a[7]

'r'

In [20]:
a[0]

'R'

In [22]:
a[-1]

'a'

In [23]:
a[-10]

'R'

In [24]:
a[4:7]

'sha'

In [31]:
a[:]

'Ram sharma'

In [28]:
a[1:10:3]

'asr'

In [33]:
a[-2:-9:1]

''

In [34]:
a[ : :-1]

'amrahs maR'

In [35]:
a= "Helo"
a[::-1]

'oleH'

In [39]:
a= 'Hi'
b= ' Ravi'

c= a+b

Hi Ravi

In [41]:
string1 = 'Chocolate'
string2 = 'cookie'

snack = string1 + " " + "*" + string2
print(snack)

Chocolate *cookie

In [ ]:
https://www.youtube.com/watch?v=k_WeoqmJcdE&list=PLI4lUwnRS08HCTNkl8jUo2vHj_uOKA76D&index=7

Iterative statements: for loop, range function, while loop, flowcharts, break and continue statements, nested loops, suggested programs: generating pattern, summation of series, finding the factorial of a positive number etc

● Strings: introduction, indexing, string operations (concatenation, repetition, membership & slicing), traversing a string using loops, built-in functions: len(), capitalize(), title(), lower(), upper(), count(), find(), index(), endswith(), startswith(), isalnum(), isalpha(), isdigit(), islower(), isupper(), isspace(), lstrip(), rstrip(), strip(), replace(), join(), partition(), split()
https://www.w3schools.com/python/python_ref_string.asp

● Lists: introduction, indexing, list operations (concatenation, repetition, membership & slicing), traversing a list using loops, built-in functions: len(), list(), append(), extend(), insert(), count(), index(), remove(), pop(), reverse(), sort(), sorted(), min(), max(), sum(); nested lists, 

suggested programs: finding the maximum, minimum, mean of numeric values stored in a list; linear search on list of numbers and counting the frequency of elements in a list

● Tuples: introduction, indexing, tuple operations (concatenation, repetition, membership & slicing), built-in functions: len(), tuple(), count(), index(), sorted(), min(), max(), sum(); tuple assignment, nested tuple, 

suggested programs: finding the minimum, maximum, mean of values stored in a tuple; linear search on a tuple of numbers, counting the frequency of elements in a tuple

● Dictionary: introduction, accessing items in a dictionary using keys, mutability of dictionary (adding a new item, modifying an existing item), traversing a dictionary, built-in functions: len(), dict(), keys(), values(), items(), get(), update(), del, clear(), fromkeys(), copy(), pop(), popitem(), setdefault(), max(), min(), count(), sorted(), copy();

suggested programs : count the number of times a character appears in a given string using a dictionary, create a dictionary with names of employees, their salary and access them

In [47]:
text= 'hello'
print(text*2)

hellohello

In [1]:
# len(), capitalize(), title(), lower(), upper(), count(), find(), index(), endswith(), startswith(), isalnum(), isalpha(), 
# isdigit(), islower(), isupper(), isspace(), lstrip(), rstrip(), strip(), replace(), join(), partition(), split()
a= "happy learning"
len(a)

14

In [2]:
a.capitalize()

'Happy learning'

In [3]:
a.title()

'Happy Learning'

In [4]:
a.lower()

'happy learning'

In [5]:
a.upper()

'HAPPY LEARNING'

In [8]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [11]:
# Where in the text is the word "welcome"?:
txt = "Hello, welcome to my world."
# x = txt.find("welcome")
x = txt.find("python")
print(x)

-1

In [13]:
# Where in the text is the word "welcome"?:
txt = "Hello, welcome to my world."
# x = txt.index("welcome")
x = txt.index("python")
print(x)

ValueError: substring not found

Both index() and find() are identical in that they return the index position of the first occurrence of the substring from the main string. The main difference is that Python find() produces -1 as output if it is unable to find the substring, whereas index() throws a ValueError exception.

In [16]:
# endswith(), startswith(), isalnum(), isalpha(), 
# Check if the string ends with a char
txt = "Hello, welcome to my world?"
x = txt.endswith("?")
print(x)
# Check if position 5 to 11 ends with the phrase "my world.":
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

True
False

In [18]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)
txt = "Hello, welcome to my world."
x = txt.startswith("wel", 7, 20)
print(x)

True
True

In [20]:
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers 
# (0-9).
# Example of characters that are not alphanumeric: (space)!#%&? etc.
txt = "Company12$$"
x = txt.isalnum()
print(x)

False

In [21]:
# The isalpha() method returns True if all the characters are alphabet letters (a-z).
# Example of characters that are not alphabet letters: 123(space)!#%&? etc.
txt = "Company12"
x = txt.isalpha()
print(x)

False

In [23]:
# isdigit(), islower(), isupper(), isspace(), lstrip(), rstrip(), strip(), replace(), join(), partition(), split()
txt = "3412"
x = txt.isdigit()
print(x)

True

In [27]:
txt = "abS1$"
x = txt.islower()
print(x)

False

In [29]:
# Check if all the characters in the text are whitespaces:
txt = "      "
x = txt.isspace()
print(x)

True

In [30]:
# 1. strip():- This method is used to delete all the leading and trailing characters mentioned in its argument.
# 2. lstrip():- This method is used to delete all the leading characters mentioned in its argument.
# 3. rstrip():- This method is used to delete all the trailing characters mentioned in its argument.
text = "---geeksforgeeks---"
  
# using strip() to delete all '-'

print ( text.strip('-') )
  
# using lstrip() to delete all trailing '-'
print ( text.lstrip('-') )
  
# using rstrip() to delete all leading '-'
print ( text.rstrip('-') )

geeksforgeeks
geeksforgeeks---
---geeksforgeeks

In [32]:
# The replace() method replaces a specified phrase with another specified phrase.
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)
# Replace the two first occurrence of the word "one":
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was three too.
three three was a race horse, two two was one too.

In [33]:
# join all items in a tuple into a string, using a hash character as separator:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [35]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = " "
x = mySeparator.join(myDict)
print(x)

name country

In [36]:
lst =['python', 'is', 'fun']
mySeparator = " "
x = mySeparator.join(lst)
print(x)

python is fun

In [39]:
# The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
# The first element contains the part before the specified string.
# The second element contains the specified string.
# The third element contains the part after the string.
# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [40]:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

In [41]:
# Split a string into a list where each word is a list item:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [42]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split("is")
print(x)

['hello, my name ', ' Peter, I am 26 years old']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split("is")
print(x)

In [44]:
txt = "apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)
print(x)

['apple', 'banana#cherry#orange']

In [45]:
txt = "apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 2)
print(x)

['apple', 'banana', 'cherry#orange']

There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered** and changeable. No duplicate members.


**Note- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered. **

In [ ]:
#  Lists: introduction, indexing, list operations (concatenation, repetition, membership & slicing), traversing a list using
# loops, built-in functions: len(), list(), append(), extend(), insert(), count(), index(), remove(), pop(), reverse(), sort(), 
# sorted(), min(), max(), sum(); nested lists,

1. Lists are used to store multiple items in a single variable.
2. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
3. List items are ordered, changeable, and allow duplicate values.
4. List items are indexed, the first item has index [0], the second item has index [1] etc.
5. When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
6. If you add new items to a list, the new items will be placed at the end of the list.

In [48]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [49]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [50]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [51]:
list1 = ["abc", 34, True, 40, "male"]

In [52]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [53]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [54]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5:-1])

[]

In [55]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5:1])

['cherry', 'orange', 'kiwi']

In [56]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [57]:
# Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [58]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [59]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [61]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [62]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [63]:
# len(), list(), append(), extend(), insert(), count(), index(), sts, 
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [64]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [65]:
# Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [66]:
# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [67]:
# The remove() method removes the specified item.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [68]:
# The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [69]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [70]:
# The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [71]:
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

In [72]:
# The clear() method empties the list.
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [73]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [74]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [75]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [76]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [77]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [78]:
# To sort descending, use the keyword argument reverse = True:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [80]:
# You can also customize your own function by using the keyword argument key = function.
def myfun(text):
    return len(text)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(key= myfun)
print(thislist)

['kiwi', 'mango', 'orange', 'banana', 'pineapple']

In [81]:
# Case sensitive sorting can give an unexpected result:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [82]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [83]:
# The reverse() method reverses the current sorting order of the elements.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [84]:
# Note: You cannot sort a list that contains BOTH string values AND numeric values.
a = ["h", "b", "a", "c", "f", "d", "e", "g"]
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [85]:
a = ["h", "b", "a", "c", "f", "d", "e", "g"]
x = sorted(a, reverse=True)
print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [86]:
lst= [10, 20, 34, 2, 65, 100, -12]
print(max(lst))
print(min(lst))
print(sum(lst))

100
-12
219

In [88]:
lst = [1, 2, 3, 2, 1, 3, 3, 4, 5, 4, 4, 4]
frequency = {}

for element in lst:
    if element not in frequency:
        frequency[element] = 1
    else:
        frequency[element] += 1
print(frequency)

{1: 2, 2: 2, 3: 3, 4: 4, 5: 1}

In [89]:
my_list = [2, 5, 1, 8, 4, 3, 7, 6]

max_num = lst[0]
min_num = lst[0]
total_sum = 0

for num in lst:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

    # add the current element to the sum
    total_sum += num

# calculate the mean by dividing the sum by the length of the list
mean_num = total_sum / len(lst)

print(max_num, min_num, mean_num)

5 1 3.0

In [94]:
lst = [2, 5, 1, 8, 4, 3, 7, 6]
target = 8
found= False
for item in lst:
    if item== target:
        found= True

if found== True:
    print("item found")
else:
    print("item not found")

item not found